{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}


</br>
<div class="container mt-2">
  <form method="GET">
    <div class="form-group">
      <label for="nib" class="form-label">Search NIB</label> 
      <select class="form-control select2class" name="nib" >
        <option value="">Pilih NIB</option>
        {% for i in pilih_nib %}
          <option value="{{i}}" >{{i}}</option>
        {% endfor %}
      </select>

    </div>
  {% if user.is_superuser %}
    <div class="form-group">
      <label for="kecamatan" class="form-label">Search Kecamatan</label>
    <select class="form-control select2class" name="kecamatan" id="kecamatan">
      <option value="">Pilih Kecamatan</option>
      {% for i in pilih_kec %}
      <option>{{i}}</option>
      {% endfor %}
    </select>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
  <div class="box">
  <form method="post" >
    {% csrf_token %}
    <div style=" align-items:  center;">
    <label for="id_start_date">Pilih tanggal dari </label>
    {{form2.start_date}}
    <label for="id_end_date">Ke</label>
    {{form2.end_date}} <br/>
    <div style="float: right; margin-top: 5px;">
    <button class="btn btn-primary"  type="submit">Download</button>
    </div>
  </div>
  </form>

  
  </div>
  </br>

  {% if user.is_superuser %}
    <h5 class="">Laporan Kegiatan Penanaman Modal Seluruh Kecamatan</h5> 
  {% else %} 
    <h5 class="">Laporan Kegiatan Penanaman Modal Kecamatan {{user.first_name}}</h5>
  {% endif %}
  <table id="tpelaku" class="table table-bordered mt-4" style="text-align: center; ">
    
    <thead style="text-align: center;">
      <tr>
      <th style="width: 20px;" rowspan='2'>No</th>
      <th style="width: 30px;" rowspan='2'>NIB</th>
      <th colspan='2' class="text-center">Tenaga Kerja</th>
      <th style="width: 170px;" rowspan='2'>Modal Kerja</th>
      <th style="width: 100px;"rowspan='2'>Produksi</th>
      <th style="width: 100px;" rowspan='2'>Kapasitas</th>
      <th style="width: 160px;" rowspan='2'>Nama </th>
      <th style="width: 100px;" rowspan='2'>Tanggal</th>
      <!-- <th rowspan='2'>No Telp</th>
      <th rowspan='2'>Tanggal</th>
      <th rowspan='2'>Permasalahan</th> -->
      {% if request.user.is_superuser %}
      <th rowspan='2'>Kecamatan</th>
    {% endif %}
      
      </tr>
      <tr>
          <th  style="width: 100px;">Laki-Laki</th>
          <th style="width: 100px;">Perempuan</th>
      </tr>
    </thead>
    <tbody>  
    {% for i in data %}
    <tr style="text-align: center;">
      <td>{{forloop.counter}}</td>
      <td><a href={% url 'detailpelakuusaha' i.nib %} target="_blank">{{i.nib}}</a></td>
      <td>{{i.laki_laki}}</></td>
      <td>{{i.perempuan}}</td>
      <td>Rp. {{i.modal_kerja|floatformat:2|intcomma}}</td>
      <td>{{i.produksi}}</td>
      <td>{{i.kapasitas}}</td>
      <td>{{i.nama_pelaku_usaha}}</td>
      <td>{{i.tanggal_input|date:"d-m-Y"}}</td>
      <!-- <td>{{i.no_telp}}</td>
      <td>{{i.tanggal_input}}</td>
      <td style="max-width: 250px; word-wrap: break-word;">{{i.permasalahan}}</td> -->
      {% if request.user.is_superuser %}
      <td>{{i.kecamatan}}</td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class='pagination'>
    <ul class="pagination">
      {% if data.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      {% endif %}
  
          <li class="page-item"><a class="page-link" href="?page={{ data.number }}">{{data.number}}</a></li>
          <li class="page-item"><a class="page-link">...</a></li>
  
      {% if data.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
        <li class="page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}">Last</a></li>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock %}